<section class="service-requests-section">
    <div class="container">
        <div class="header">
            <h2>Service Requests</h2>
            <button class="add-btn" (click)="addServiceRequest()">
                <i class="fas fa-plus"></i> Add Service Request
            </button>
        </div>

        <table class="service-requests-table">
            <thead>
                <tr>
                    <th>Service Type</th>
                    <th>Status</th>
                    <th>Request Date</th>
                    <th>Servicer (Company)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of pagedServiceRequests">
                    <td>{{ getServiceTypeName(req.serviceType) }}</td>
                    <td>{{ getStatusName(req.status) }}</td>
                    <td>{{ req.requestDate | date:'mediumDate' }}</td>
                    <td>{{ req.companyName || 'Unknown' }}</td>
                    <td>
                        <button class="action-btn" (click)="editServiceRequest(req.id!)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="action-btn" (click)="deleteServiceRequest(req)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="pagination-wrapper" *ngIf="totalPages > 1">
        <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="nav-button prev-next">
            <i class="fas fa-angle-left"></i>
        </button>

        <button *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="i + 1 === currentPage"
                (click)="changePage(i + 1)"
                class="page-button">
            {{ i + 1 }}
        </button>

        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="nav-button prev-next">
            <i class="fas fa-angle-right"></i>
        </button>
        </div>
    </div>


    <div class="modal-backdrop" *ngIf="isDeleteConfirmOpen">
        <div class="modal">
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete the service request with fiscal receipt #<strong>{{
                    serviceRequestToDelete?.fiscalReceiptNumber }}</strong>?</p>
            <div class="modal-buttons">
                <button class="btn-primary" (click)="confirmDelete()">Delete</button>
                <button class="btn-secondary" (click)="cancelDelete()">Cancel</button>
            </div>
        </div>
    </div>
</section>